<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vertaperic.store">

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.App"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".launcher.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoStatusBar" />

        <activity
            android:name=".browse.BrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoStatusBar" />

        <activity
            android:name=".product.detail.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoStatusBar" />

        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoStatusBar" />

        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.NoStatusBar" />

        <activity
            android:name=".cart.MyCartActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
